if NT72673_A64_EMMC_EVB

config SYS_BOARD
	default "nt72673_a64_emmc_evb"

config SYS_VENDOR
	default "novatek"

config SYS_SOC
	default "nt72673_a64"

config SYS_CONFIG_NAME
	default "nt72673_a64_emmc"

endif
