if NT72673_A32_EMMC_EVB

config SYS_BOARD
	default "nt72673_a32_emmc_evb"

config SYS_VENDOR
	default "novatek"

config SYS_SOC
	default "nt72673_a32"

config SYS_CONFIG_NAME
	default "nt72673_a32_emmc"

endif
