if NT72673_A32_TK_ANDROID_OREO_SEC

config SYS_BOARD
	default "nt72673_a32_tk_android_oreo_sec"

config SYS_VENDOR
	default "novatek"

config SYS_SOC
	default "nt72673_a32"

config SYS_CONFIG_NAME
	default "nt72673_a32_tk_android_oreo_sec"

endif
