if NT72673_A64_TK_ANDROID_OREO

config SYS_BOARD
	default "nt72673_a64_tk_android_oreo"

config SYS_VENDOR
	default "novatek"

config SYS_SOC
	default "nt72673_a64"

config SYS_CONFIG_NAME
	default "nt72673_a64_tk_android_oreo"

endif
